%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, []}.

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [debug_info,
            {platform_define,
            "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
            {platform_define, "(linux|freebsd)", 'BACKLOG', 128}]}.

%% == Port Compiler ==

%% List and wildcard list of files to be compiled. Default is `"c_src/*.c"'

{port_envs, [{"CFLAGS", "$CFLAGS -I/usr/include/pam "
                                "-I/usr/include/security/"}]}.

{so_specs, [{"priv/setuid_drv.so", ["c_src/setuid_drv.o"]},
            {"priv/yaws_sendfile_drv.so", ["c_src/yaws_sendfile_drv.o", "c_src/hashtable.o"]},
            {"priv/epam.so", ["c_src/epam.o"]}]}.
            

% Redefine edoc dir so a 'rebar clean' doesn't delete the 'doc' dir
{edoc_opts, [{dir, "edocs"}]}.
